.container-slides{
    background-color: #111430;
    margin-top: 80px;
    height: 624px;
    width: 100%;
}

.works-title{
    margin-top: 50px;
    margin-bottom: 50px;
}

.w-25{
    margin-left: 150px;
    margin-top: 80px
}